In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [4]:
data=pd.read_csv('Admission_Predict.csv')

In [6]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,Yes,0.92
1,2,324,107,4,4.0,4.5,8.87,Yes,0.76
2,3,316,104,3,3.0,3.5,8.00,Yes,0.72
3,4,322,110,3,3.5,2.5,8.67,Yes,0.80
4,5,314,103,2,2.0,3.0,8.21,No,0.65

In [10]:
data['Research'] = LabelEncoder().fit_transform(data['Research'])

In [11]:
X = data.drop(columns=['Serial No.', 'Chance of Admit '])  
y_linear = data['Chance of Admit ']  
y_logistic = (data['Chance of Admit '] > 0.75).astype(int)

In [18]:
X_train, X_test, y_train_linear, y_test_linear = train_test_split(
    X, y_linear, test_size=0.2, random_state=42
)
_, _, y_train_logistic, y_test_logistic = train_test_split(
    X, y_logistic, test_size=0.2, random_state=42
)

In [19]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
linear_model = LinearRegression()
linear_model.fit(X_train_scaled, y_train_linear)

In [ ]:
y_pred_linear = linear_model.predict(X_test_scaled)
linear_mse = mean_squared_error(y_test_linear, y_pred_linear)

In [15]:
logistic_model = LogisticRegression()
logistic_model.fit(X_train_scaled, y_train_logistic)

In [16]:
print("Linear Regression: Mean Squared Error (MSE) =", linear_mse)
print("Logistic Regression: Accuracy =", logistic_accuracy)

Linear Regression: Mean Squared Error (MSE) = 0.004617003377285013
Logistic Regression: Accuracy = 0.9375