In [5]:
def string_operation():
    print("String Operation")
    string=("hitler")
    print("Actual_String :",string)
    print("Upper_Case :",string.upper())
    print("Lower_case :",string.lower())
    print("Reverse String :",string[::-1])
    print("Substring :",string[5])
string_operation()

String Operation
Actual_String : hitler
Upper_Case : HITLER
Lower_case : hitler
Actual String : hitler
Reverse String : reltih
Substring : r

In [23]:
def list_operation():
    print("List_Operation")
    list1=[1,2,3,4,5]
    list2=[6,7,8,9,0]
    list1.append(45)
    print(list1)

    list2.remove(7)
    print(list2)

    print("Slice",list1[2:5])
    list1.extend(list2)
    print("Extend :",list1)

list_operation()

List_Operation
[1, 2, 3, 4, 5, 45]
[6, 8, 9, 0]
Slice [3, 4, 5]
Extend : [1, 2, 3, 4, 5, 45, 6, 8, 9, 0]

In [11]:
def set_operation():
    print("Set_Operation")
    set1={1,2,3,4,5,3}
    set2={5,6,7,8,10,2}
    print("Intersection :",set1 | set2)
    print("Union :",set1&set2)
    set1.add(50)
    print("Adding in set1 :",set1)
    set2.remove(5)
    print("Remove in set2:",set2)
set_operation()

Set_Operation
Intersection : {1, 2, 3, 4, 5, 6, 7, 8, 10}
Union : {2, 5}
Adding in set1 : {1, 2, 3, 4, 5, 50}
Remove in set2: {2, 6, 7, 8, 10}

In [20]:
def tuples_operation():
    print("Tuples_Operation")
    tuple1=(10,20,40,50)
    print("Original Tuple:", tuple1)
    print("Access Second Element:",tuple1[1])
    print("Length Of Tuple1:",len(tuple1))
    print("First Element:", tuple1[0])
    print("Last Element:", tuple1[3])
tuples_operation()

Tuples_Operation
Original Tuple: (10, 20, 40, 50)
Access Second Element: 20
Length Of Tuple1: 4
First Element: 10
Last Element: 50

In [24]:
string_operation()
print("**************")
list_operation()
print("**************")
set_operation()
print("**************")
tuples_operation()

String Operation
Actual_String : hitler
Upper_Case : HITLER
Lower_case : hitler
Actual String : hitler
Reverse String : reltih
Substring : r
**************
List_Operation
[1, 2, 3, 4, 5, 45]
[6, 8, 9, 0]
Slice [3, 4, 5]
Extend : [1, 2, 3, 4, 5, 45, 6, 8, 9, 0]
**************
Set_Operation
Intersection : {1, 2, 3, 4, 5, 6, 7, 8, 10}
Union : {2, 5}
Adding in set1 : {1, 2, 3, 4, 5, 50}
Remove in set2: {2, 6, 7, 8, 10}
**************
Tuples_Operation
Original Tuple: (10, 20, 40, 50)
Access Second Element: 20
Length Of Tuple1: 4
First Element: 10
Last Element: 50